<% for (var i = 0; i < items.length; i++) { %>

    <%- include('anecdotas/miniatura', items[i]); -%>

    <tr>
        <td><%= items[i]._id %></td>
        <td><%= items[i].titulo %></td>
        <td><%= items[i].descripcion %></td>
        <td><%= items[i].cuando %></td>
        <td><%= items[i].persona %></td>
    </tr>
<% } %>